/* :root {
    --bgColor : 
} */

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: #0C1320;
}
.mainSection
{
    width: 80%;
    position: absolute;
    top: 10.5%;
    right: 0%;
}