.glassFormWrapper {
  position: relative;
}

.glassGlow {
  position: absolute;
  inset: -2px;
  border-radius: 22px;
  filter: blur(20px);
  opacity: 0.6;
  animation: glowMove 4s linear infinite;
  z-index: 0;
}


.glassForm {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.glassForm:hover {
  box-shadow: 0 0 40px rgba(210, 255, 39, 0.25);
}

.formTitle {
  font-family: var(--font);
  font-size: 32px;
  color: white;
}
.glassFormWrapper p 
{
    color: var(--fontColorTwo);
    font-size: 18px;
}

.formLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--fontColorTwo);
  font-weight: 500;
}

.glassInput {
  background: rgba(255, 255, 255, 0.05);
  color: var(--fontColorTwo);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  padding: 12px;    
}

.glassInput::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.glassInput:focus {
  outline: none;
  border-color: var(--fontColor);
  box-shadow: 0 0 10px rgba(210, 255, 39, 0.4);
}

.uploadBox {
  border: 1px dashed rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.04);
  transition: 0.3s;
  color: var(--fontColorTwo);
  width: 100%;
}

.uploadBox:hover {
  border-color: var(--fontColor);
  box-shadow: 0 0 20px rgba(210, 255, 39, 0.3);
}

.uploadIcon {
  font-size: 32px;
  margin-bottom: 8px;
  color: var(--fontColor);
}

.hiddenFile {
  display: none;
}

.submitBtn {
 border: 1px solid rgba(255,255,255,0.18);
    background: rgba(255,255,255,0.05);
    color: var(--fontColorTwo);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    font-family: var(--font);
    transition: 0.3s ease;
    width: 50%;
    display: flex;
    justify-content: center;
}

.submitBtn:hover {
   color: #22c55e;
    background: rgba(34,197,94,0.15);
}
